@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Quicksand";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

.header {
  max-width: 40rem;
  margin: 0 auto 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: #f1356d;
}

.main {
  max-width: 40rem;
  margin: 0 auto;
}

.nav__list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  display: flex;
}

.nav__link {
  color: inherit;
  display: block;
  padding: 0.8rem;
}

.home__title {
  position: absolute;
  left: -200rem;
}

.blogs {
  list-style-type: none;
  padding-left: 0;
}

.blogs__item {
  margin-bottom: 1rem;
}

.blogs__link {
  padding: 0.5rem;
  display: block;
  text-decoration: none;
  color: inherit;
}

.blogs__link:hover,
.blogs__link:focus {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.blogs__title {
  color: #f1356d;
  margin: 0;
}

.blogs__author {
  margin: 0.75rem 0;
}

.blogDetails__title {
  color: #f1356d;
}

.create__title {
  color: #f1356d;
}

.createForm {
  display: flex;
  flex-direction: column;
}

.createForm__label {
  margin-bottom: 0.3rem;
}

.createForm__control {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-color: #aaa;
  border-radius: 5px;
}

.createForm__button {
  color: #fff;
  font-size: 0.8rem;
  background-color: #f1356d;
  padding: 1rem;
  align-self: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.createForm__button:disabled {
  cursor: not-allowed;
}

.blogDetails__button {
  color: #fff;
  font-size: 0.8rem;
  background-color: #f1356d;
  padding: 1rem;
  align-self: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
